<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="menu">
          <h3 class="logo">Brand<span>Name</span></h3>
          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>
        </div>
      </div>

      <div class="main-container">
        <div class="main">
          <header class="header-intro">
            <div class="overlay">
              <div class="inner">
                <h2 class="title">Artus aspirant ingénieur</h2>
                <h1 class="title-v1">Développeur pour le fun</h1>
                <p class="paragraphe-sous-titre">
                </p>
              </div>
            </div>
          </header>
        </div>
        <div>
          <div class="main">
            <header class="header-contenu">
              <div class="overlay">
                <div class="inner"> 
                  <div>
                    <h2 class="title-card  ">Bienvenue</h2>
                  </div>
                  <div class=" user">
                    <img src="{{ url_for('static', filename='ressources/nebulae-wall-art.jpg') }}" alt="user" />
                    <p>
                      Artus
                    </p>
                  </div>
                  <div class="container-card">
                    <div class="card">
                      <div class="card-body">                        
                        <p>
                          ""
                        </p>
                    </div>  
                    </div>        
                  </div>
                </div>
              </div>
            </header>
          </div>
        </div>
      </div>

      <div class="links">
        <ul>
          <li>
            <a href="#" style="--i: 0.05s;">Acceuil</a>
          </li>
          <li>
            <a href="#" style="--i: 0.1s;">Portfolio</a>
          </li>
          <li>
            <a href="#" style="--i: 0.15s;">Resumer</a>
          </li>
          <li>
            <a href="#" style="--i: 0.2s;">Testimonials</a>
          </li>
          <li>
            <a href="#" style="--i: 0.25s;">Projets</a>
          </li>
          <li>
            <a href="#" style="--i: 0.3s;">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>
  </body>
  <footer>

  </footer>
</html>
